* {
    margin: 0px;
    padding: 0px;
}
#wrapper {
    margin: 0px auto;
    padding: 10px;
    width: 970px;
    background-color: navy;
}
header {
    background-color: darkred;
    color: silver;
    border-radius: 15px;
    padding: 15px;
}
#navigation {
    background-color: teal;
    border-radius: 15px;
    width: 200px;
    display: inline-block;
    vertical-align: top;
}
#main {
    background-color: black;
    border-radius: 15px;
    color: silver;
    width: 700px;
    display: inline-block;
}
footer {
    background-color: gray;
    border-radius: 15px;
}