#wrapper{
    width: 1000px;
    background-color: lightgray;
    margin: 0px auto;
    padding: 30px;
    outline: 5px solid black;
}
.red, .yellow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.red div {
    background-color: red;
    width: 470px;
    height: 200px;
    outline: 5px solid black;
}
.blue {
    background-color: skyblue;
    height: 200px;
    outline: 5px solid black;
    margin-bottom: 30px;
}
.yellow div {
    background-color: yellow;
    width: 290px;
    height: 200px;
    outline: 5px solid black;
}
.green {
    display: flex;
    justify-content: space-between;
    background-color: green;
    height: 200px;
    outline: 5px solid black;
    padding: 30px;
}
.green div {
    background-color: purple;
    width: 220px;
    outline: 5px solid black;
}
